html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: system-ui, sans-serif;
}

body {
  display: grid;
  place-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

li {
  position: relative;
}

li.selected {
  border-color: #cecece;
}

li.selected::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 100%;
  display: block;
  position: absolute;
  background-color: #000;
  left: -10px;
  top: calc(50% - 2px);
}

li > button {
  width: 100%;
  text-align: left;
  border: none;
  padding: .25rem;
  background-color: transparent;
}

button.player {
  border: 1px solid #000;
  padding: .25rem 1rem;
  background-color: transparent;
}

button.player:hover {
  background-color: #000;
  color: #fff;
}